.calendar {
  display: grid;
  grid-template: repeat(6, 45px) / repeat(7, 1fr);
  width: 95%;
  min-width: 30rem;
  height: 90%;
  margin: 1rem auto;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

@media (min-width: 768px) {
  .calendar {
    grid-template: repeat(6, 1fr) / repeat(7, 1fr);
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .calendar {
    width: 60%;
  }
}
